/* .box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.wavy {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100vw;
  background: #5e07f4;
  clip-path: circle(65% at 0 104px);
}

.left {
  width: 600px;
}

.heading {
  font-size: 40px;
  color: #fff;
}

.img {
  width: 750px;
  height: 100%;
} */

/* ---------------  */

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4); */
}

.content {
  max-width: rem(480px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: rem(700px);
  height: rem(700px);

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}
