.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  margin: 0 rem(60);
  margin-top: 50px;
}

.content {
  /* max-width: rem(480px); */
  margin-right: calc(var(--mantine-spacing-xl) * 3);
  color: #333333;
  max-width: 600px;
  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(60px);
  line-height: 1.2;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.img {
  animation: heartbeat 1.4s infinite;
}

.list {
  list-style-type: none;
}

@keyframes rotateImg {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
