@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  max-width: 1800px;
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
}

.highlight {
  background-image: linear-gradient(90deg, #3b82f6 0%, #4ade80 100%);
  padding: 3px 10px;
  border-radius: 12px;
  color: #fff;
}

.highlight1 {
  background-image: linear-gradient(90deg, #ef4444 0%, #ec4899 100%);
  padding: 3px 10px;
  border-radius: 12px;
  color: #fff;
}
